
<li>
  <div id="line"><h2>Author: {{question.author}}</h2></div>

    <h2>Question:</h2>
   {{question.post}}
   <br>
   <br>
   <button class="btn-custom btn-sm" {{action 'delete' question}}>Delete</button>
   {{update-question question=question update="update"}}

</li>
