<header>
  <nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <li>{{#link-to 'about'}}About{{/link-to}}</li>
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Scroll</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      {{#link-to 'index'}}<a class="navbar-brand">Message Board</a>{{/link-to}}


    </div>
  </div>
</nav>
</header>
<body>
  <div class="container">
    {{outlet}}
  </div>
</body>
