<header>
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <li>{{#link-to 'about'}}About{{/link-to}}</li>

        <div>{{#link-to 'index'}}<a class="navbar-brand">Message Board</a>{{/link-to}}</div>
      </div>
    </div>
  </nav>
</header>
<body>
  <div class="container">
    {{outlet}}
  </div>
</body>
