<div class="jumbotron"><h2>Welcome To Q&A Message Board!</h2></div>



<div class="jumbotron">

  {{#each model as |question|}}
  <h3>{{question-tile question=question update="update" destroyQuestion="destroyQuestion"}}</h3>
  {{/each}}

</div>


{{new-question saveQuestion="saveQuestion"}}
