<div class="jumbotron"><h2>Welcome To Q&A Message Board!</h2></div>



<div class="jumbotron">

  {{#each model as |question|}}
  <h2>{{question-tile question=question destroyQuestion="destroyQuestion"}}</h2>
  {{/each}}

</div>


{{new-question saveQuestion="saveQuestion"}}
