<h1>Welcome To Message Board!</h1>

<p>Hope you found the answers you were looking for!</p>

<div class="jumbotron">

  {{#each model as |question|}}
  <li>{{question-tile question=question}}</li>
  {{/each}}

</div>
