<h1>Welcome To Message Board!</h1>

Hope you found the answers you were looking for!

<ul>
  {{#each model as |question|}}
  <li>{{question.author}} {{question.post}}</li>
  {{/each}}
</ul>

{{#link-to 'about'}}About{{/link-to}}
{{#link-to 'contact'}}Click here to contact us.{{/link-to}}
